__pycache__/
*.py[cod]
*$py.class
.DS_Store

.env
.envrc
.venv/
env/
venv/

.cache/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

results/
wandb/
*.pt
*.pth
*.zip
*.mp4
*.pdf
*.png
*.jpg
*.jpeg
*.csv
*.log

build/
dist/
*.egg-info/
